@import "/src/styles/_mixins";

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  .marketingBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-image: radial-gradient(circle at center center, #506be2, #10162f),
      repeating-radial-gradient(
        circle at center center,
        #506be2,
        #ff003d,
        19px,
        transparent 38px,
        transparent 19px
      );
    background-blend-mode: multiply;
    background-color: #10162f;
    border-radius: 0.7rem;
    gap: 1rem;
    flex-wrap: wrap-reverse;
    margin-bottom: 4rem;
    @include sm-max {
      flex-direction: column-reverse;
    }

    .content {
      color: #fff;
      max-width: 600px;
      flex: 1;

      h2 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        color: #ffd500;
      }
      p {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.2px;
      }
    }

    .bannerImage {
      min-width: 200px;
      padding: 2rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
      @include xsm-max {
        display: none;
      }
    }
  }

  .sectionTitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #1f2b37;
  }

  .learningSection {
    width: 100%;
    margin-bottom: 4rem;
    .learningContainer {
      width: 100%;
      border: 1px solid #000;
      border-radius: 0.7rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .learningContent {
        padding: 2rem 1rem;
        color: #1f2b37;

        h3 {
          margin-bottom: 0.3rem;
          font-size: 1rem;
          font-weight: 500;
          font-family: "Courier New", Courier, monospace;
        }

        p {
          font-size: 1.4rem;
          font-weight: 700;
          color: #2f3f4e;
          &:last-child {
            font-size: 1rem;
            font-weight: 400;
            margin-top: 0.2rem;
          }
        }
      }

      .learningCtaContainer {
        margin-top: auto;
        width: 100%;
        border-top: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #1f2b37;
          font-weight: 600;
          padding: 1rem 0.5rem;
          transition: all 0.3s ease-in-out;
          background-color: #3a10e5;
          color: #fff;
          font-style: italic;

          &:first-child {
            border-right: 1px solid #000;
            background-color: transparent;
            color: #10162f;
            font-style: normal;
            &:hover {
              background-color: #ffd500;
            }
          }
        }
      }
    }
  }

  .availableCoursesSection {
    width: 100%;
    margin-bottom: 4rem;

    .availableCoursesContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;
      @include sm-max {
        justify-content: center;
      }

      .availableCoursesCard {
        width: 100%;
        max-width: 300px;
        border: 1px solid #000;
        min-height: 332px;
        border-radius: 0.25rem;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        padding: 1rem;

        &:hover {
          box-shadow: -0.5rem 0.5rem 0 0 rgba(0, 0, 0);
          transform: translate(4px, -4px);
        }

        &.detail {
          padding: 0;
          cursor: pointer;

          .cardDesc {
            margin-bottom: 2.5rem;
          }

        }

        .cardClipArt {
          width: 100%;
          max-width: 120px;
          align-self: center;
          margin-bottom: 1rem;
        }

        .cardHeading {
          margin-bottom: 0.5rem;
        }

        .cardDesc {
          font-size: 0.9rem;
          margin-bottom: 1rem;
        }

        .cardHeader {
          background-color: #10162F;
          padding: 0.5rem 1rem;
          color: #ffd500;
          font-family: "Courier New", Courier, monospace;
          font-weight: 600;
        }

        .content {
          flex: 1;
          padding: 0.7rem 1rem;
          display: flex;
          flex-direction: column;
        }
        .cardPointsContainer {
          margin-top: auto;
          .cardPoints {
            font-weight: 400;
            border-bottom: 1px dashed #000;
            padding: 0.2rem 0;
            display: flex;
            align-items: center;
            gap: 3px;
  
            &:first-of-type {
              border-top: 1px dashed #000;
            }
          }
        }

        .availableCoursesCardCta {
          width: 100%;
          height: 40px;
          margin-top: auto;
          background-color: #000;
          &:hover {
          }
        }
      }
    }
  }

  .talkToUsSection {
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: none;
    @include md-max {
      display: flex;
    }

    .talkToUsContainer {
      width: 100%;
      max-width: 450px;
    }
  }
}
