@import "/src/styles/_mixins";

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

@keyframes end {
  0%,
  100% {
    box-shadow: 0 0 10px 0px orange;
  }
  50% {
    box-shadow: 0 0 15px 5px orange;
  }
}

.progressBar {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
  background-color: #eceaea;
  position: relative;
}

.progress {
  --progress: 0%;
  width: var(--progress);
  height: 100%;
  background: linear-gradient(#ffd500, #ff882d, gold);
  background-repeat: repeat;
  animation: shine 4s ease-in infinite, end 1s ease-out 1;
  transition: width 0.4s linear;
  box-shadow: 0 0 2px 0px orange;
}

.progressValue {
  font-weight: 800;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
