@import "/src/styles/_mixins";

.courseCardHorizontal {
    // display: grid;
    // grid-template-columns: 0.9fr 2.1fr;
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 100%;
    max-width: 1050px;
    background-image: linear-gradient(to left, #cff8f6 0%, #fed6e3 100%);
    border-radius: 0.75rem;
    color: #1f2b37;
    // padding-right: 0.5rem;
    box-shadow: 0px 6px 15px 5px rgba(168,168,168,1);
    transition: all 0.2s ease-in-out;
    position: relative;
    &:hover {
    box-shadow: 0px 6px 40px 5px rgba(168,168,168,1);
    transition: all 0.2s ease-in-out;
    transform: scale(1.02);
    }

    .courseCardWrapper{
      display: flex;
      .titleBox {
        width: 450px;
        min-height: 8rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 2rem 0.5rem 1rem;
        align-items: center;
        justify-content: center;
        .cardCatagory {
            background-color: #fac0d2;
            padding: 0 2rem;
            font-weight: 700;
            font-size: 0.9rem;
            text-transform: uppercase;
            border-radius: 0.3rem;
            height: 2rem;
            display: grid;
            place-content: center;
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
        }
        img {
          width: 3rem;
        }
        .cardTitle {
          text-align: center;
          font-size: 1.2rem;
          color: #1f2b37;
        }
        .courseInfo {
            display: flex;
            justify-content: center;
            flex-wrap: wrap-reverse;
            gap: 1rem;
            margin-bottom: 0.5rem;
            h5 {
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 0.3rem 1rem;
              border-radius: 0.4rem;
              background-color: #fde1eacc;
              box-shadow: 0 4px 4px #00000023;
              span {
                font-weight: 800;
              }
            }
          }
      }
      .cardContent {
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 1rem;
        padding-left: 2rem;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        border-top-right-radius: 0.75rem;
        border-bottom-left-radius: 0.75rem;
      }
      .curriculum, .placement {
        margin-bottom: 1.5rem;
        h3 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            background: linear-gradient(90deg, hsla(205, 67%, 46%, 1) 0%, hsla(263, 33%, 48%, 1) 100%, hsla(276, 41%, 27%, 1) 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            svg{
              height: 15px;
              width: 15px;
            }
        }
      }
      ul {
        list-style: none;
      }
      li {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        &::before {
            content: "✔";
            margin-right: 0.5rem;
            color: #25cc1f;
            font-size: 0.9rem;
        }
      }
      .cardButtons {
        display: flex;
        position: absolute;
        bottom: 1rem;
        right: 0;
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        a {
            color: #fff;
            background-color: #508fec;
            text-align: center;
            padding: 0.5rem;
            border-radius: 0.2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
    
            &:first-child {
                background-color: #96b9ee91;
                color: #6050ec;
            }
        }
      }
    }
      .features{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 1.5rem;
        padding: 0.7rem;
        border-radius: 10px;
        background-color: white;
        .feature_comp{
          display: flex;
          align-items: center;
          gap: 0.5rem;
          .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #71d86d46;
            height: 30px;
            width: 30px;
          }
          .content{
            .heading{
              font-weight: 800;
              font-size: 14px;
            }
            .body{
              font-size: 12px;
            }
          }
        }
      }
}