.loginPage {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loginFormContainer {
    width: 100%;
    max-width: 1880px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .loginForm {
    width: 100%;
    max-width: 450px;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    text-align: center;
    gap: 0.5rem;

    img {
      width: 10rem;
      align-self: center;
      margin-bottom: 1rem;
    }

    .formTitle {
      color: #1f2b37;
      font-size: 1.8rem;
    }

    .formSubTitle {
      margin-bottom: 1rem;
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .formLoader {
        height: 40px;
        width: 100%;
        padding: 0.25rem 1rem;
        background-color: #c1b5ff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 600;
        border: none;
        outline: none;
        border-radius: 0.2rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          margin: 0;
        }
      }
    }
    .disclaimer {
      font-size: 0.9rem;
      font-weight: 500;
      text-align: start;
    }
  }
}
