@import "/src/styles/_mixins";
.featureSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #10162F;
  .featuresContainer {
    width: 100%;
    max-width: 1580px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @include xsm-max {
      padding: 1.7rem;
    }

    .sectionTitle {
      color: white;
      font-size: 2.3rem;
      width: 100%;
      max-width: 800px;
      font-weight: 800;
      margin-bottom: 2rem;
      letter-spacing: 0.1rem;
      text-align: center;
      span {
        color: #FFD500;
        text-transform: capitalize;
      }
      @include xsm-max {
        font-size: 1.6rem;
      }
    }
  }
}
