@import "src/styles/mixins";

.app-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    color: #000000;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  .inputBar {
    display: flex;
    position: relative;
    
    svg {
      position: absolute;
      left: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }
  }
  input {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 0.6rem;
    padding-left: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid #c3c8cd;
    background: #fff;
    font-size: 1rem;
    outline-color: #888888;
    @include sm-max{
      font-size: 1rem;
      padding: 1.2rem 1rem;
      padding-left: 2.2rem;
    }
  }

  input:disabled {
    background: #c3c8cd;;
  }
  .error {
    border: 1px solid red;
  }

  .error-message {
    color: red;
    text-align: left;
  }

  &.checkbox {
    width: auto;

    input[type="checkbox"] {
      display: none;
    }

    .checkbox-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.2em;
      height: 1.2em;
      background: white;
      border: 1px solid grey;
      border-radius: 0.25rem;
      transition: all 0.3s;

      &:hover {
        border-color: #4e3bc2;
        cursor: pointer;
      }
    }

    .checkmark {
      color: white;
      font-size: 0.75em;
      visibility: hidden;

      &.visible {
        visibility: visible;
      }
    }

    input[type="checkbox"]:checked + .checkbox-label {
      background-color: #4e3bc2;
      border-color: #4e3bc2;
    }
  }
}
