@import "src/styles/_mixins";
.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  
  .whatsapp-icon {
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #26c943;
    color: #fff;
    box-shadow: 0 2px 5px 3px #45fd2c;
    transition: all 0.5s linear;
    z-index: 9999;
    svg {
      width: 30px;
      height: 30px;
    }
    @include sm-max {
      width: 30px;
      bottom: 4.5rem;
      height: 30px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
