@import "src/styles/_mixins";

.courseInfoCarausal {
  width: 100%;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .slideTitle {
      min-height: 100px;
      text-align: center;
    }
    .infoMobileCard {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 2.5rem;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    color: #636363;
    display: none;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 2rem;
  }
  .swiper-horizontal {
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: #a3a3a3;
    }
    .swiper-pagination-bullet-active {
      background: #ffd500;
    }
  }
}
