@import "/src/styles/_mixins";

.requestCallModal:global(.DialogContent) {
  width: 100%;
  max-width: 400px;
  padding-top: 1.5rem;

  .closeBtn {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;

    svg {
      font-size: 1.5rem;
    }
  }
  .modalTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1;
  }
  .modalSubTitle {
    font-size: 1rem;
    color: #1F2B37;
    margin-bottom: 1rem;
  }

  form {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    gap: 1rem;
    width: 100%;
    .form-loader {
      height: 40px;
      width: 100%;
      padding: 0.25rem 1rem;
      background-color: #c1b5ff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 0.9rem;
      font-weight: 600;
      border: none;
      outline: none;
      border-radius: 0.2rem;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
