@import "src/styles/_mixins";

.courcesContainer {
  width: 100%;
  padding: 3rem;
  background-color: var(--primary-background-color);
  background: url("../../../assets/backgrounds/coursesBackground.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffffc4;
  }

  @include xsm-max {
    padding: 2rem 1rem;
  }

  .sectionTitle {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    z-index: 5;
    letter-spacing: 5px;
    background: linear-gradient(90deg, hsla(205, 67%, 46%, 1) 0%, hsla(263, 33%, 48%, 1) 100%, hsla(276, 41%, 27%, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .sction_sub_title {
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.61);
    z-index: 5;

    span {
      font-weight: 700;
      background: linear-gradient(90deg, hsla(13, 93%, 67%, 1) 0%, hsla(21, 91%, 73%, 1) 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .description {
    white-space: nowrap;
    position: relative;
    display: flex;
    margin-bottom: 2rem; 
    z-index: 5;
    word-spacing: 3px;
    .infinite_scroll_text {
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  

  .cources {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

.ag_courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}
.ag_courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag_courses_item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag_courses_item_link:hover,
.ag_courses_item_link:hover .ag_courses_item_date {
  text-decoration: none;
  color: #FFF;
}
.ag_courses_item_link:hover .ag_courses_item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag_courses_item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag_courses_item_date_box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag_courses_item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag_courses_item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag_courses_item:nth-child(2n) .ag_courses_item_bg {
  background-color: #3ecd5e;
}
.ag_courses_item:nth-child(3n) .ag_courses_item_bg {
  background-color: #e44002;
}
.ag_courses_item:nth-child(4n) .ag_courses_item_bg {
  background-color: #952aff;
}
.ag_courses_item:nth-child(5n) .ag_courses_item_bg {
  background-color: #cd3e94;
}
.ag_courses_item:nth-child(6n) .ag_courses_item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
   