@import "src/styles/_mixins";

.courcesContainer {
  width: 100%;
  padding: 4rem 3rem;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-color: #10162F;

  @include xsm-max {
    padding: 2rem 1rem;
  }

  .sectionTitle {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    z-index: 5;
    letter-spacing: 5px;
    background: linear-gradient(180deg, rgb(139, 207, 255) 0%, rgb(180, 133, 255) 100%, rgb(196, 114, 255) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .section_sub_title {
    // color: rgba(128, 128, 128, 0.61);
    color: silver;
    z-index: 5;
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 130%;
    width: 100%;
    text-align: center;

    span {
      font-weight: 700;
      color: #FFD500;
    }
  }

  .description {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    z-index: 5;
    // font-size: 1.8rem;
    word-spacing: 3px;
    color: silver;
    max-width: 600px;


    .infinite_scroll_text {
      color: '#505862';
      display: inline;
      font-size: 1.2rem;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }


  .cources {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

.ag_format_container {
  width: 100%;
  max-width: 1580px;
  .ag_courses_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    background-color: #10162F;
  }
  
  .ag_courses_item {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 28px;
  }
  
  .ag_courses_item_link {
    display: block;
    padding: 1.2rem 1.5rem;
    background-color: #FFF;
    min-height: 310px;
    overflow: hidden;
    position: relative;
  }
  
  .ag_courses_item_link:hover,
  .ag_courses_item_link:hover .ag_courses_item_date {
    text-decoration: none;
    color: #000;
  }
  .ag_courses_item_link:hover .ag_courses_item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  
  .ag_courses_item_title {
    min-height: 3rem;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: 600;
    font-size: 30px;
    color: #000;
  
    z-index: 2;
    position: relative;
  }
  
  .ag_courses_item_date_box {
    font-size: 18px;
    color: #000;
    margin-bottom: 1rem;
    z-index: 2;
    position: relative;
  }
  
  .ag_courses_item_date {
    display: flex;
    gap: .3rem;
    align-items: center;
    font-weight: 500;
    color: #000;
    transition: color .5s ease;
    position: relative;
    span{
      font-size: 1.5rem;
      font-weight: 500;
      align-self: flex-start;
      color: #3ecd5e;
      transition: color .5s ease
    }
  }
  .ag_courses_item_link:hover .ag_courses_item_date span {
    color: #fff;
  }
  
  .ag_courses_item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
    transition: all .5s ease;
  }
  
  .ag_courses_item:nth-child(2n) .ag_courses_item_bg {
    background-color: #3ecd5e;
  }
  
  .ag_courses_item:nth-child(3n) .ag_courses_item_bg {
    background-color: #e44002;
  }
  
  .ag_courses_item:nth-child(4n) .ag_courses_item_bg {
    background-color: #952aff;
  }
  
  .ag_courses_item:nth-child(5n) .ag_courses_item_bg {
    background-color: #cd3e94;
  }
  
  .ag_courses_item:nth-child(6n) .ag_courses_item_bg {
    background-color: #4c49ea;
  }
  
}


.flexcontainer {
  /* We first create a flex layout context */
  display: flex;
  width: 100%;
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flexitem {
  padding: 5px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

  .title {
    font-size: 35px;
  }

  .subTitle {
    font-size: 15px;
  }
}

.highLightTitle {
  font-size: 15px;
}
.courseHighlights {
  width: 100%;
  // padding: 3rem;
  // background-color: var(--primary-background-color);
  // background: url("../../../assets/backgrounds/coursesBackground.jpg") no-repeat center/cover;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: self-start;
  // flex-wrap: wrap;
  // position: relative;
  background-color: #3A10E5;
  // color:white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  padding-bottom: 100px;



  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     background-color: #3A10E5;
  //   }
  //   .banner {
  //     background-color: #007bff;
  //     // background-color: #dbdddf;

  //     color: #fff;
  //     text-align: center;
  //     padding: 20px 0;
  // }

  // h1 {
  //     color: white;
  //     font-size: 3em;
  //     margin-bottom: 20px;
  // }

  // .stats,
  // .details {
  //     display: flex;
  //     justify-content: space-around;
  // }

  // .stats p,
  // .details p {
  //     font-size: 1.5em;
  //     margin: 0 10px;
  // }

}



// @media only screen and (max-width: 979px) {
//   .ag-courses_item {
//     -ms-flex-preferred-size: calc(50% - 30px);
//     flex-basis: calc(50% - 30px);
//   }

//   .ag-courses-item_title {
//     font-size: 24px;
//   }
// }

// @media only screen and (max-width: 767px) {
//   .ag-format-container {
//     width: 96%;
//   }

// }

// @media only screen and (max-width: 639px) {
//   .ag-courses_item {
//     -ms-flex-preferred-size: 100%;
//     flex-basis: 100%;
//   }

//   .ag-courses-item_title {
//     min-height: 72px;
//     line-height: 1;

//     font-size: 24px;
//   }

//   .ag-courses-item_link {
//     padding: 22px 40px;
//   }

//   .ag-courses-item_date-box {
//     font-size: 16px;
//   }
// }