.container {
    display: flex;
    padding: 1rem 4rem;
    position: relative;
    width: 100%;
  }
  
  .headingsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem 4rem;
    gap: 2.5rem;
  
    .heading {
      margin: 20px 0;
      font-size: 2.3rem;
      padding: 1rem;
      transition: font-weight 0.3s;
      opacity: .2;
    }
  
    .heading.active {
      opacity: 1;
      font-weight: bold;
    }
  }
  
  .cardContainer {
    position: relative;
    max-width: 600px;
    width: 100%;
  }
  
  .card {
    position: sticky;
    top: 50%;
    left: 50%;
    transform: translate(10%, -35%);
    padding: 1rem 1.5rem;
    background-color: white;
    width: 100%;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    box-shadow: 2px 2px 5px 2px #cacaca;
    h2 {
      font-size: 1.6rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    p {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1.2rem;
      display: flex;
      gap: .5rem;
    }
    img {
      width: 100px;
      height: 120px;
      align-self: flex-end;
    }
  }
  