@import "src/styles/_mixins";

.faqSection {
  width: 100%;
  flex: 1;
  display: flex;
}

.sidebar {
  height: inherit;
  position: sticky;
  top: 72px;
  left: 0;
  width: 250px;
  height: calc(100vh - 72px);
  border-right: 1px solid #d1cfcf;
  padding: 4rem 1rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include md-max {
    display: none;
  }
  .catagories {
    display: flex;
    flex-direction: column;
    list-style: none;

    .catagory {
      padding: 1rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: #3a10e5;
      }

      &.active {
        background-color: rgb(16, 22, 47, 0.04);
        font-weight: 500;
        border-left: 4px solid #000;
        &:hover {
          color: #1f2b37;
        }
      }
    }
  }
}

.faqs {
  flex: 1;
  padding: 2rem;
  padding-right: 1rem;

  @include md-max {
    padding: 1rem;
  }

  .pageTitle {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    @include sm-max {
      font-size: 2.5rem;
    }
    @include xsm-max {
      font-size: 2rem;
    }
  }

  .categoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;

    @include sm-max {
      position: sticky;
      top: 72px;
    }

    .faqType {
      font-size: 1.8rem;
      color: #3a10e5;

      @include sm-max {
        display: none;
      }
    }
    .select {
      min-width: 150px;
      display: none;

      @include md-max {
        display: block;
      }

      @include sm-max {
        width: 100%;
      }
    }
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
  }

  .faqsContainer {
    width: 100%;
  }

  .faqContainer {
    padding: 1rem 0;
    border-radius: 0.5rem;
    overflow: hidden;
    border-bottom: 1px solid #d1cfcf;

    .faqQuestion {
      color: #10162f;
      display: flex;
      font-weight: 500;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      margin-left: 0.5rem;

      .expandIcon {
        font-size: 1.5rem;
        margin-left: auto;
        transition: transform 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.expanded {
        .expandIcon {
          transform: rotate(180deg);
        }
      }
    }

    .content {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-left: 0.5rem;

      .startingPara,
      .endingPara {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .pointerTitle {
        margin-bottom: -0.7rem;
      }

      .pointers {
        list-style-type: disc;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}
