@import "src/styles/mixins";

.appTextareaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    color: #000000;
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  .textareaBar {
    display: flex;
    position: relative;
    
    svg {
      position: absolute;
      left: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }
  }

  textarea {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0.8rem 0.6rem;
    border-radius: 0.3rem;
    border: 1px solid #c3c8cd;
    background: #fff;
    font-size: 1rem;
    min-height: 5rem;
    resize: none;
    overflow-x: auto;
    @include sm-max{
      font-size: 1rem;
      padding: 1.2rem 1rem;
    }
  }

  textarea:disabled {
    background: #c3c8cd;
  }

  .error {
    border: 1px solid red;
  }
  .errorMessage {
    color: red;
    text-align: left;
  }
}
